nav {
    width: 100%;
    position: relative;
    text-align: center;
  }
  #baby>a {
    line-height: 80px;
    display: block;
    font-size: 30px;
    font-weight: 900;
    position: absolute;
    left: 10px;
  }
  #content > form {
    padding: 0 10 px;
    height: 30px;

    color: #000000;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-15px);
    border: 2px solid #ffffff;
  }

  #content> ul li {
    display: inline-block;
    line-height: 80px;
    padding: 0 10px;
  }

  #search > input ,button{
    transform: translateY(-65px);
    right: 10px;
    position: absolute;
  }

  #search > input{
    width: 15%;
  }
  